<!doctype html>
<html lang="ko">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{> include/header}}

</head>

<body>
	{{> include/navigation}}
	<div class="container" id="main">
		<div class="panel panel-default content-main">
			<form name="write" method="post" action="/posts">
				<div class="form-group">
					<label for="exampleFormControlSelect1">게시판 선택</label> <select
						class="form-control" id="board" name="board">
						<option>질문</option>
						<option>프로젝트</option>
						<option>공부</option>
						<option>자유</option>
					</select>
				</div>
				<div class="form-group">
					<label for="exampleFormControlInput1">제목</label> <input type="text"
						class="form-control" id="topic" name="topic" placeholder="제목">
				</div>
				<div class="form-group">
					<label for="exampleFormControlTextarea1">내용 (1500자 이하)</label>
					<textarea class="form-control" id="text" name="text" rows="10"
						placeholder="내용 입력"></textarea>
				</div>
				<div class="form-group">
					<label for="exampleFormControlInput1">이메일 (답글 알림 수신용)</label> <input
						type="email" class="form-control" id="email" name="email"
						placeholder="name@example.com">
				</div>
				<div class="form-group">
					<label for="password">비밀번호 (수정시 필요)</label> <input type="password"
						class="form-control" id="password" name="password"
						placeholder="Password">
				</div>
				<p align="right">
					입력칸 중 하나라도 빈칸이 있으면 작성이 불가합니다               
					<button type="submit" class="btn btn-secondary btn-sm">작성하기</button>
				</p>
				<div class="clearfix" />
			</form>
		</div>
	</div>

{{> include/popper}}
</body>
</html>